<nav class="ink-navigation">
    <ul class="menu horizontal flat shadowed blue">
        <li>
            <a href="#">Sessions</a>
            <ul class="submenu">
                <li><a href="/sessions/available">Available</a></li>
                <li><a href="/sessions/past">Past</a></li>
            </ul>
        </li>
        <li><a href="/request">Request session</a></li>
        <li><a href="/apply">Apply to</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</nav>
